.switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    background-color: #ccc;

    width: 80%;
    padding-left: 20px;
    padding-right: 20px;

}